.heroSection {
  height: 80vh;
  background: radial-gradient(
      100% 100% at 50% 50%,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("/grid.png"),
    radial-gradient(
      50% 98.88% at 50% 50%,
      rgba(0, 0, 0, 0.89) 0%,
      rgb(0, 0, 0) 100%
    ),
    url("/abstract-blue.jpg");

  display: flex;
  flex-direction: column;
  gap: 8px;

  align-items: center;
  justify-content: space-between;

  padding: 64px 0;

  .heading {
    width: 60%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 20px;

    h1 {
      font-size: 64px;
      font-weight: bold;
      text-align: center;

      color: #ccc;
    }
  }

  .description {
    font-size: 20px;
    color: #868686;
  }

  .createdBy {
    a {
      background-image: linear-gradient(to right, #ccc, #ccc);
      background-repeat: no-repeat;
      background-position: bottom center;
      background-size: 100% 2px;

      padding: 0.2rem;
      padding-top: 0.1rem;
      border-radius: 4px;

      transition: background 200ms, color 300ms;

      &:hover,
      &:focus {
        color: black;
        background-size: 100% 100%;
      }
    }
  }
}
