$colors: (
  red: (
    100: hsl(7, 100%, 97%),
    200: hsl(7, 100%, 79%)
  ),
  green: (
    100: hsl(173, 60%, 89%),
    200: hsl(173, 60%, 69%),
  ),
  yellow: (
    100: hsl(42, 80%, 94%),
    200: hsl(42, 80%, 78%)
  ),
  black: (
    100: hsl(0, 0%, 53%),
    200: hsl(48, 5%, 19%)
  )
);