@use "./base/reset.scss";
@use "./base/theme.scss";
@use "./base/padronize.scss";

main {
  background-color: black;
}

.skills {
  height: 100vh;
  width: 100%;
  max-width: 1200px;
  background: #000;
  color: #fff;
  margin: 0 auto;
  padding: 80px 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 56px;
  font-weight: bold;
}

.skillText {
  transition: opacity 400ms;
}

.cursor-highlight {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  filter: blur(12px);
  pointer-events: none;
  z-index: 20;

  position: fixed;
  transition: all 0ms;
}
