@use "../mixins";
@use "../components";

@include useMedia(small) {
  body {
    &[data-theme="red"] {
      $primary: var(--color-red-200);
      background: $primary;
      .todo-container {
        ul li {
          &[data-button] button {
            color: $primary;
          }

          input:before {
            box-shadow: inset 1em 1em $primary;
          }
        }
      }
    }

    &[data-theme="yellow"] {
      $primary: var(--color-yellow-200);
      background: $primary;
      .todo-container {
        ul li {
          &[data-button] button {
            color: $primary;
          }

          input:before {
            box-shadow: inset 1em 1em $primary;
          }
        }
      }
    }

    &[data-theme="green"] {  
      $primary: var(--color-green-200);
      background: $primary;
      .todo-container {
        ul li {
          &[data-button] button {
            color: $primary;
          }

          input:before {
            box-shadow: inset 1em 1em $primary;
          }
        }
      }
    }
    
    display: grid;
    grid-template-areas:
    ". . ."
    ". card ."
    ". . ."
    ;
    
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 10% 80% 10%;
    
    .todo-container {
      display: flex;
      flex-direction: column;
      
      color: var(--color-black-200);
      
      padding: 16px;
      
      grid-area: card;
      background: var(--color-yellow-100);
      
      border: 4px solid var(--color-black-200);
      box-shadow: 8px 8px var(--color-black-200);
      
      border-radius: 24px;
      
      header {
        display: flex;
        align-items: center;
        justify-content: center;
        
        width: 100%;
        
        padding-bottom: 16px;
        
        h1 {
          font-size: useClamp(64);
        }
        
        border-bottom: 4px solid var(--color-black-200);
      }
      
      ul {
        display: flex;
        flex-direction: column;

        padding: 32px 16px;

        width: 100%;
        height: 100%;
        
        position: relative;
        li {
          display: flex;
          align-items: center;


          &[data-button] {
            align-self: center;

            position: absolute;

            bottom: 0;

            
            width: calc(100% - 16px);
            button {
              width: 100%;
              padding: 16px 16px;

              cursor: pointer;
              
              font-weight: bold;
              font-size: useClamp(32);

              border-radius: 12px;
              
              color: var(--color-red-200);
              background: var(--color-yellow-100);
              border: 3px dashed var(--color-black-100);

              transition: all 200ms;
              
              &:hover {
                filter: brightness(110%);
              }
            }
          }
          
          label {
            cursor: pointer;
            font-size: useClamp(32);
            user-select: none;
          }
          
          input {
            cursor: pointer;
            position: relative;

            /* Add if not using autoprefixer */
            -webkit-appearance: none;
            appearance: none;
            /* For iOS < 15 to remove gradient background */
            background-color: #fff;
            /* Not removed via appearance */
            margin: 0;

            border-radius: 4px;
            border: 3px solid var(--color-black-200);
            box-shadow: 1px 1px var(--color-black-200);
            
            font: inherit;
            color: var(--color-black-200);
            width: useClamp(30);
            height: useClamp(30);
            transform: translateY(-0.075em);
            
            display: grid;
            place-content: center;
            overflow: hidden;

            margin-right: 0.5rem;

            &:checked::before {
              transform: scale(2);
            }

            &:checked::after {
              transform: scale(1.2);
            }
            
            &:checked {
              opacity: 0.6;
            }

            &::before, &::after {
              content: "";
              transform: scale(0);

              position: absolute;
              inset: 0;
              margin: auto;
              
              transition: 120ms transform ease-in-out;
            }
            
            &::before {
              width: 100%;
              height: 100%;
              position: absolute;

              transform: scale(0);

              box-shadow: inset 1em 1em var(--color-red-200);
            }
            
            &::after {
              width: 0.65em;
              height: 0.65em;
              
              background: var(--color-yellow-100);
              clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
            }
          }

          input:checked + label {
            opacity: 0.6;
            text-decoration: line-through;
          }
        }
      }
    }
  }
}