name: Deploy Web to GitHub Pages

on:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/web-deploy.yml'
      - 'apps/**'

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - name: Get files
        uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'

      - name: Install packages
        if: steps.yarn-cache.outputs.cache-hit != 'true'
        run: yarn

      - name: Build @notely/v1
        working-directory: ./apps/v1
        run: yarn build

      - name: Add .nojekyll file
        working-directory: ./apps/v1
        run: touch ./dist/.nojekyll

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.1
        with:
          branch: gh-pages
          folder: ./apps/web/dist